$color_1: #d9d9d9;
$color_2: currentColor;
$color_3: #fff6a4;
$color_4: #ffff;
$color_5: white;
$color_6: #171717;
$font-family_1: "Poppins";
$font-family_2: "Poiret One";
$background-color_1: #d9d9d9;
$background-color_2: #171717;
$background-color_3: #171717;
$background-color_4: #fff6a4;
$background-color_5: #000000f7;
$background-color_6: transparent;
$background-color_7: #fff6a4;
$background-color_8: rgb(0 0 0 / 89%);
$primary: #171717;
$secondary: #d9d9d9;
$tertiary: #fff6a4;
