@import url("https://fonts.googleapis.com/css2?family=Poiret+One&family=Poppins:wght@300;400;700&display=swap");

:root {
  --primary: #171717;
  --secondary: #d9d9d9;
  --terciary: #fff6a4;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: var(--primary);
}

body {
  background-color: var(--primary);
  font-family: "Poppins";
  color: var(--secondary);
}

/* Header */

header {
  width: 100vw;
  height: 4rem;
  color: var(--secondary);
  font-size: 13px;
  position: fixed;
  z-index: 2;
  background-color: #171717;
}

.nav-mobile {
  display: none;
}

.nav-destokp {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.nav-destokp svg {
  cursor: pointer;
  transition: all 0.5s ease;
}

.nav-destokp svg:hover {
  transform: rotate(20deg);
  transition: all 0.5s ease;
}

.nav-destokp ul {
  display: flex;
  gap: 2.5rem;
  list-style-type: none;
  position: relative;
}

.nav-destokp ul li {
  cursor: pointer;
  position: relative;
}

.nav-destokp ul li::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--terciary);
  transition: width 0.5s ease;
}

.nav-destokp ul li a {
  text-decoration: none;
  color: currentColor;
  position: relative;
}

nav ul li.active::before,
nav ul li:hover::before,
nav ul li:hover a::before {
  width: 100%;
}

.active {
  color: var(--terciary);
}

.nav-destokp span {
  display: flex;
  gap: 0.4rem;
}

.nav-destokp span :nth-child(1),
.nav-destokp span :nth-child(3) {
  cursor: pointer;
}

.nav-destokp span :nth-child(1):hover,
.nav-destokp span :nth-child(3):hover {
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.5s ease;
  color: #ffff;
}

/* Main */

@keyframes moveDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

main {
  padding-top: 4rem;
}

/* Hero Section */

.hero-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin-top: 0;
  align-content: center;
  justify-content: center;
  gap: 8.5rem;
}

.hero-content {
  z-index: 1;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 2.5rem;
  position: relative;
  margin-top: 5%;
  max-width: 60%;
}

.hero-texts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: "Poiret One";
  position: relative;
}

.hero-title {
  font-size: 120px;
  font-weight: 400;
  letter-spacing: 14.4px;
  color: var(--terciary);
}

.hero-subtitle {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 3.6px;
}

.hero-button {
  background-color: var(--terciary);
  border: none;
  padding: 1rem 0.8rem;
  width: 150px;
  border-radius: 4px;
  color: var(--primary);
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.5s ease-in;
}

.hero-button:hover {
  background-color: transparent;
  color: var(--secondary);
  outline: 0.1px solid var(--terciary);
  transition: all 0.5s ease-in;
}

.hero-image {
  width: 289px;
  display: block;
  height: 390px;
  position: absolute;
  right: -31%;
  z-index: -2;
}

.circle-scroll {
  border-radius: 50%;
  border: 2px solid var(--terciary);
  display: flex;
  min-height: 50px;
  min-width: 50px;
  justify-content: center;
  align-items: center;
}

.circle-scroll p {
  height: 65%;
  animation: moveDown 1s ease-in-out infinite;
  cursor: pointer;
}

@media screen and (max-width: 720px) {
  .nav-mobile {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0 2rem;
    justify-content: space-between;
    align-items: center;
  }

  .colorMode-language {
    display: flex;
    gap: 1rem;
  }

  .colorMode-language span {
    display: flex;
    gap: 0.5rem;
  }

  .nav-destokp {
    display: none;
  }
}

@media screen and (max-width: 580px) {
  .hero-texts {
    align-items: center;
    gap: 2.5rem;
  }

  .hero-title {
    font-size: 60px;
    letter-spacing: 5px;
  }

  .hero-image {
    position: static;
    width: 249px;

    height: 340px;
  }

  .hero-content {
    flex-direction: column;
    max-width: none;
  }

  .hero-section-container {
    gap: 2.5rem;
  }

  .circle-scroll {
    margin-bottom: 2.5rem;
  }
}

.new-products-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  justify-content: center;
  row-gap: 2rem;
  margin-bottom: 3rem;
}

.new-products-title {
  align-self: flex-start;
  color: var(--primary);
  font-family: "Poiret One";
  font-size: 16px;
  font-weight: 600;
  border-bottom: 2px solid var(--terciary);
  letter-spacing: 5.6px;
  margin-left: 20px;
  margin-top: 2rem;
  color: var(--secondary);
  line-height: 2;
}

.new-products-galery-text-container {
  display: flex;
  gap: 2rem;
  width: 100%;
  align-items: flex-end;

  flex-wrap: wrap;
  justify-content: center;
}

.image1 {
  flex: 1;
  max-width: 250px;
  height: 300px;
  position: relative;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 7px 8px 15px -9px var(--terciary);
  background-color: var(--terciary);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.image1:hover,
.image2:hover,
.image3:hover {
  transform: scale(1.1);
  z-index: 100;
}

.image1 p {
  position: absolute;
  color: var(--secondary);
  font-weight: bold;
}

.image1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 10%;
  border-radius: 8px;
}

.image2 {
  flex: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 250px;
  height: 430px;
  box-shadow: 7px 8px 15px -9px var(--terciary);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--terciary);
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.image2 p {
  position: absolute;
  font-size: 20px;
  color: var(--primary);
  font-weight: bold;
}

.image2 img {
  width: 100%;
  height: 100%;

  object-fit: cover;
  border-radius: 8px;
}

.image-text-button {
  flex: 1.1;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.button-arrow {
  display: flex;
  gap: 1rem;
}

.text-button {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.image-text-button p {
  max-width: 28ch;
  text-wrap: balance;
}

.image-text-button button {
  border: none;
  outline: none;
  background-color: transparent;
}

.image-text-button button a {
  color: var(--secondary);
  text-decoration: none;
}

.image3 {
  flex: 1;
  max-width: 250px;
  height: 360px;
  position: relative;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--terciary);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.image3 img {
  width: 100%;
  height: 100%;

  object-fit: cover;
  border-radius: 8px;
  box-shadow: 7px 8px 15px -9px var(--terciary);
}

.image3 p {
  position: absolute;
  color: var(--secondary);
  font-weight: bold;
}

.all-content-container {
  display: flex;
  flex-direction: column;
}

.whatsapp-icon {
  position: fixed;
  right: 0;
  bottom: 0;
  margin-right: 2%;
  margin-bottom: 2%;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  z-index: 2;
  fill: var(--terciary);
}

.whatsapp-icon:hover {
  transform: scale(1.1);
}

strong {
  color: var(--terciary);
  font-weight: 400;
}

.button-arrow {
  cursor: pointer;
}

.button-arrow :hover {
  gap: 1.5rem;
}

@media screen and (max-width: 720px) {
  .new-products-galery-text-container {
    flex-direction: column;
    row-gap: 3.2rem;
    align-items: center;
  }

  .image1 {
    flex: auto;
    height: 360px;
  }

  .image2 {
    flex: auto;
    height: 360px;
  }

  .image3 {
    flex: auto;
    height: 360px;
  }
}

.catalog-offer-container {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  align-items: center;
}

.catalog-offer-title {
  align-self: flex-start;
  color: var(--primary);
  font-family: "Poiret One";
  font-size: 16px;
  font-weight: 600;
  border-bottom: 2px solid var(--terciary);
  letter-spacing: 5.6px;
  margin-left: 20px;
  margin-top: 2rem;
  color: var(--secondary);
  line-height: 2;
}

.catalog-offer-container-galery {
  display: flex;
  gap: 6.5rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.catalog-offer-image-text {
  width: 250px;
  display: flex;
  flex-direction: column;
  height: 510px;
  gap: 1rem;
  position: relative;
  top: -70px;
}

.catalog-offer-image {
  width: 250px;
  height: 460px;
  background-color: var(--secondary);
  position: relative;
  box-shadow: 7px 8px 15px -9px var(--terciary);
  background-color: var(--primary);
}

.catalog-offer-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.button-offer-one {
  position: absolute;
  right: -30px;
  bottom: 0;
  background-color: var(--terciary);
  padding: 0.5rem 1rem;
  width: 100px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
  transform: translate(-5px, -5px) rotate(-5deg);
}

.button-offer-one:hover {
  transform: translate(-5px, -5px) rotate(-50deg);
  z-index: 100;
}

.catalog-offer-image a {
  text-decoration: none;
  color: var(--primary);
}

.button-offer-two {
  position: absolute;
  right: 0;
  left: -30px;
  top: 0;
  background-color: var(--terciary);
  padding: 0.5rem 1rem;
  width: 100px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
  transform: rotate(90deg);
}

.button-offer-two:hover {
  transform: rotate(-10deg);
}

@media screen and (max-width: 720px) {
  .catalog-offer-container-galery {
    flex-direction: column;
    row-gap: 6.5rem;
  }

  .catalog-offer-image-text {
    position: static;
  }
}

footer {
  border-top: 2px solid var(--terciary);
  background-color: var(--primary);
  display: flex;
  padding: 2rem;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

footer h5 {
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 14.4px;
  color: var(--terciary);
}

footer p {
  color: var(--secondary);
}

.c1-footer {
  display: flex;
  flex-direction: column;
}

.c2-footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.c3-footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (max-width: 720px) {
  footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 2rem;
  }
}
